<html>
<head>

<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<script>
function myFunction() {
    var x = document.getElementById('myDIV');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
<!--<script src="/Scripts/sorttable.js"></script> -->

<script src="{{ url_for('static',filename='sorttable.js')}}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">


<title>Maximizing Taste.</title>

</head>
<body>
<table width="1000" align="center">
  <tr>
    <td width="200" class="whatever">
      <div align="left" class="whatever">
        <form id='edible' method='POST' action='/choose/' >
           Enter a dish, get some science.<br>
           <input type='text' name='food' /><br>

        <input type='submit' value='Science some food data!' />
        </form>
      </div>
    </td>
  {% if ingr %}
  <td class="whatever"><div align="center" class="whatever"><h1 class="center"><center>{{ ingr }}</center></h1></div></td>
</tr>
  
{{gen_html|safe}}


</table>



{% else %}
<td width="800" class="whatever">
  <div>
    <h1>Enter a dish or ingredient in the box to the left.</h1>
  </div>
  </td>
</tr>
</table>
{% endif %}
</body>
</html>
